@page
@model DSMS.Frontend.Pages.Users.DetailsModel
@{
    ViewData["Title"] = "Users | Details";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-3">
        @if (Model?.ApplicationUser?.Photo != null)
        {
            <img id="photo" class="img-thumbnail d-block" 
            src="data:image/*;base64,@(Convert.ToBase64String(Model.ApplicationUser.Photo))">
        }
        else
        {
            <img id="photo" class="img-thumbnail d-block" src="...">
        }
    </div>
    <div class="col-md-9">
        <h3>@Model.ApplicationUser?.FirstName @Model.ApplicationUser?.LastName</h3>
        <p>Email: <b>(@Model.ApplicationUser?.UserName)</b></p>
        <p>Role: <b>@Model.UserRole</b></p>
    </div>
</div>

@if (Model.UserRole == "Instructor")
{
    <div class="row">
        <div class="col-md-6">
            <h4>Assigned Vehicles</h4>
            @if (Model.ApplicationUser?.Vehicles.Count() == 0)
            {
                <p class="text-muted">Instructor has no vehicles assigned.</p>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in Model.ApplicationUser?.Vehicles)
                            {
                                <tr>
                                    <td>
                                        @if (vehicle.Photo != null)
                                        {
                                            <img id="photo" class="img-thumbnail d-block"
                                                src="data:image/*;base64,@(Convert.ToBase64String(vehicle.Photo))">
                                        }
                                        else
                                        {
                                            <img id="photo" class="img-thumbnail d-block" src="...">
                                        }
                                    </td>
                                    <td>@vehicle?.Category</td>
                                    <td>@vehicle?.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h4>Feedback</h4>
                <form id="create-form" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Input.Title" class="form-control" autocomplete="description" aria-required="true" />
                                <label asp-for="Input.Title"></label>
                                <span asp-validation-for="Input.Title" class="text-danger"></span>
                            </div>
                        <div class="form-floating">
                                <select asp-for="Input.Rating" class="form-control">
                                    <option selected>Please rate your instructor</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    
                                </select>
                                <label asp-for="Input.Rating"></label>
                                <span asp-validation-for="Input.Rating" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <textarea asp-for="Input.Content" class="form-control" autocomplete="description" aria-required="true" >Enter your review</textarea>
                                <label asp-for="Input.Content"></label>
                                <span asp-validation-for="Input.Content" class="text-danger"></span>
                            </div>

                    </div>
                    <button id="create-feedback-button" type="submit" class="w-100 btn btn-lg btn-success mt-3">Submit feedback</button>
                </div>
            </form>
            <div class="row">
                <div class="col-md-6">
                    @if (Model.ApplicationUser.InstructorFeedbacks.Count() == 0)
                    {
                        <p class="text-muted">Instructor has no reviews yet.</p>
                    }
                </div>
            </div>
        </div>
    </div>
}
