@page
@using DSMS.Core.Enums;
@model DSMS.Frontend.Pages.Appointments.IndexModel
@{
    ViewData["Title"] = "Appointments | Index";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if (User.IsInRole("Student"))
    {
        <div class="col-md-4">
            <a class="btn btn-success my-3" asp-area="" asp-page="/Appointments/Create">
                <i class="bi bi-plus-lg"></i>
                Create New
            </a>
        </div>
    }
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <td scope="col">Date</td>
            <td scope="col">Start</td>
            <td scope="col">End</td>
            <td scope="col"> Instructor name</td>
            <td scope="col">Instructor surname</td>
            <td scope="col">Student name</td>
            <td scope="col">Student surname</td>
            <td scope="col">Actions</td>

        </thead>
        <tbody>
            @foreach (var appointment in Model.Appointments)
                {
                    <tr>
                        <td>@appointment.Date</td>
                        <td>@appointment.Start</td>
                        <td>@appointment.End</td>
                        <td>@appointment.Instructor.FirstName</td>
                        <td>@appointment.Instructor.LastName</td>
                        <td>@appointment.Student.FirstName</td>
                        <td>@appointment.Student.LastName</td>
                        <td class="align-middle">
                            @if (appointment.Date > DateOnly.FromDateTime(DateTime.UtcNow) && (User.IsInRole("Administrator") || Model.ApplicationUser.Id == appointment.Student.Id || Model.ApplicationUser.Id == appointment.Instructor.Id))
                            {
                                <a asp-page="/Appointments/Cancel" asp-route-id="@appointment.Id" class="btn btn-warning">
                                    <i class="bi bi-pen"></i>
                                    Cancel
                                </a>
                            }
                        </td>


                    </tr>
                }
        </tbody>
    </table>


