@page
@using DSMS.Core.Enums;
@model DSMS.Frontend.Pages.Appointments.IndexModel
@{
    ViewData["Title"] = "Appointments | Index";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if (User.IsInRole("Student"))
    {
        <div class="col-md-4">
            <a class="btn btn-success my-3" asp-area="" asp-page="/Appointments/Create">
                <i class="bi bi-plus-lg"></i>
                Create New
            </a>
        </div>
    }
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Instructor Name</th>
                <th scope="col">Instructor Surname</>
                <th scope="col">Student Name</th>
                <th scope="col">Student Surname</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.Appointments)
                {
                    <tr>
                        <td>@appointment.Date.ToString("dd.MM.yyyy.")</td>
                        <td>@appointment.Start</td>
                        <td>@appointment.End</td>
                        <td>@appointment.Instructor.FirstName</td>
                        <td>@appointment.Instructor.LastName</td>
                        <td>@appointment.Student.FirstName</td>
                        <td>@appointment.Student.LastName</td>
                        <td class="align-middle">
                            @if (appointment.Date > DateOnly.FromDateTime(DateTime.UtcNow) 
                                && appointment.Status == AppointmentStatus.Reserved
                                && (User.IsInRole("Administrator") 
                                || Model.ApplicationUser.Id == appointment.Student.Id
                                || Model.ApplicationUser.Id == appointment.Instructor.Id))
                            {
                                <a asp-page="/Appointments/Cancel" asp-route-id="@appointment.Id" class="btn btn-danger">
                                    <i class="bi bi-x-lg"></i>
                                    Cancel
                            </a>
                            }
                            else
                            {
                                <b class="text-danger">Canceled</b>
                            }
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>
